<div class="cv-container" [class.mobile]="session.isMobile">
  <div class="title">CURRICULUM VITAE</div>

  <div class="c30 doc-content">
  <div><p class="c9"><span class="c25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Benjamin Martin Burke</span>
  </p>
    <p class="c7"><span class="c48">b.m.burke.111@gmail.com</span><span class="c35"><br></span><span class="c25 c42"><a
      class="c22"
      href="https://www.google.com/url?q=http://www.benburke.co.uk&amp;sa=D&amp;source=editors&amp;ust=1764363149863052&amp;usg=AOvVaw12skWCoIgS4ClXGgUzNR46">www.benburke.co.uk</a></span>
    </p></div>
  <p class="c12"><span class="c14">Ben Burke</span></p>
  <p class="c12 c29"><span class="c3"></span></p>
  <p class="c12"><span class="c5">Profile</span></p>
  <p class="c34"><span class="c17 c19">&nbsp;</span></p>
  <p class="c24"><span class="c17 c6">A highly motivated and results-driven Software Engineer with experience in developing and maintaining software solutions across embedded systems, web technologies, and database management. Proven expertise in Python, Linux, and object-oriented programming, with a strong foundation in system architecture and project management. Recognised for problem-solving skills, adaptability, and leadership potential, with a track record of taking ownership of key projects and driving continuous improvements. Passionate about mentoring, collaboration, and leveraging technical expertise to contribute to high-performing development teams.</span>
  </p>
  <p class="c27"><span class="c19 c21">&nbsp;</span></p>
  <p class="c38"><span class="c5">Education</span></p>
  <p class="c34"><span class="c19">&nbsp;</span></p>
  <p class="c31"><span class="c8 c23">Bedford College, </span><span class="c17 c6">2016 - 2018</span></p>
  <p class="c12"><span class="c6">Electrical and Electronic Engineering<br></span><span class="c16">Level 3 (A-Level Equivalent)</span>
  </p>
  <p class="c12"><span class="c6 c17">Distinction*, Distinction*, Distinction</span></p>
  <p class="c12"><span class="c17 c47">*: Star - Higher achievement</span></p>
  <p class="c38"><span class="c17 c8 c32">&nbsp;</span></p>
  <p class="c31"><span class="c8 c23">University of Kent, Canterbury, </span><span class="c36">2018-2022</span></p>
  <p class="c12"><span class="c17 c6">Computer Systems Engineering </span></p>
  <p class="c12"><span class="c46">with Year-in-Industry</span></p>
  <p class="c12"><span class="c16">Bachelor of Engineering with Honours</span></p>
  <p class="c12"><span class="c6">First Class Award</span></p>
  <p class="c31"><span class="c8 c50">&nbsp; </span><span class="c8"><br>University of Kent</span><span class="c8 c23">&nbsp;&ndash;</span><span
    class="c17 c6">&nbsp;Systems-focused bachelor&rsquo;s degree incorporating computer science and electronic engineering &nbsp;modules. Key areas explored include fundamentals of electronics and circuit design, digital and analogue systems, mathematical systems modelling, and signal processing. A range of languages are covered, including MATLAB, C/C++, VHDL, Java, JavaScript, HTML, CSS, PHP, and SQL. Additionally, the course also explored the concepts of Object Oriented Programming, the fundamentals of AI and neural networks, and project management. Included a year-in-industry between the second and third stages.</span>
  </p>
  <p class="c44"><span class="c8">Bedford College </span><span class="c8 c23">&ndash;</span><span class="c6">&nbsp;Two-year A-Level-equivalent course covering core introductory areas of electrical and electronic engineering. Units covered core and further mathematics, electrical principles, circuit design and build with both theoretical and practical experience. The second year had a large focus on microcontrollers, microprocessors and programming in C++ and Assembly.<br></span><span
    class="c17 c37">&nbsp; <br><br><br><br></span></p>
  <p class="c38"><span class="c5">Skills</span></p>
  <p class="c34"><span class="c17 c19">&nbsp;</span></p>
  <p class="c20"><span class="c17 c8 c32">&nbsp;</span></p>
  <table class="c52">
    <tr class="c4">
      <td class="c39" colspan="1" rowspan="1"><p class="c12"><span class="c2">Languages</span></p></td>
      <td class="c43" colspan="1" rowspan="1"><p class="c12"><span class="c2">Technologies</span></p></td>
    </tr>
    <tr class="c15">
      <td class="c18" colspan="1" rowspan="1"><p class="c12"><span class="c16">Python (3, 2.7)</span></p></td>
      <td class="c11" colspan="1" rowspan="1"><p class="c12"><span class="c16">Linux</span></p></td>
    </tr>
    <tr class="c15">
      <td class="c18" colspan="1" rowspan="1"><p class="c12"><span
        class="c16">Java, Object Oriented Programming</span></p></td>
      <td class="c11" colspan="1" rowspan="1"><p class="c12"><span
        class="c16">Shell Scripting (Bash, Powershell)</span></p></td>
    </tr>
    <tr class="c15">
      <td class="c18" colspan="1" rowspan="1"><p class="c12"><span class="c16">JavaScript / TypeScript</span></p></td>
      <td class="c11" colspan="1" rowspan="1"><p class="c12"><span class="c16">Microcontrollers (C++)</span></p></td>
    </tr>
    <tr class="c15">
      <td class="c18" colspan="1" rowspan="1"><p class="c12"><span class="c16">HTML, CSS, Angular, Electron</span></p>
      </td>
      <td class="c11" colspan="1" rowspan="1"><p class="c12"><span class="c16">REST APIs</span></p></td>
    </tr>
    <tr class="c15">
      <td class="c18" colspan="1" rowspan="1"><p class="c12"><span class="c16">NodeJS, Express, Flask</span></p></td>
      <td class="c11" colspan="1" rowspan="1"><p class="c12"><span class="c16">Front End Web Development</span></p>
      </td>
    </tr>
    <tr class="c15">
      <td class="c18" colspan="1" rowspan="1"><p class="c12"><span class="c16">SQL, Sqlite3</span></p></td>
      <td class="c11" colspan="1" rowspan="1"><p class="c12"><span class="c16">Back End Web Development</span></p>
      </td>
    </tr>
    <tr class="c15">
      <td class="c18" colspan="1" rowspan="1"><p class="c12"><span class="c16">C, C++</span></p></td>
      <td class="c11" colspan="1" rowspan="1"><p class="c12"><span class="c16">Database Management</span></p></td>
    </tr>
    <tr class="c15">
      <td class="c18" colspan="1" rowspan="1"><p class="c12 c29"><span class="c16"></span></p></td>
      <td class="c11" colspan="1" rowspan="1"><p class="c12"><span class="c16">Android (Kotlin)</span></p></td>
    </tr>
  </table>
  <p class="c20 c29"><span class="c2"></span></p>
  <p class="c20 c29"><span class="c17 c6"></span></p>
  <p class="c38"><span class="c5">Experience</span></p>
  <p class="c34"><span class="c17 c19">&nbsp;</span></p>
  <p class="c12"><span class="c26">&nbsp;</span></p>
  <ul class="c49 lst-kix_list_1-0 start">
    <li class="c10 li-bullet-0"><span class="c8">Software Engineer, &nbsp;Python, Linux - Grosvenor Technology Ltd., Aug. 2023 - Present</span><span
      class="c6">&nbsp;Working as a Python Software Engineer on an embedded Linux Human Capital Management solution. I act as the primary Python developer, overseeing the continuous development and patching of numerous customer applications. In addition to Python development, this role also involves skills in SQL database management, Linux system management, shell scripting, and web API interfacing. I occasionally assist with the development of the company&rsquo;s Android applications, and I am the primary maintainer of an internal test server built using Kotlin&rsquo;s Ktor framework. In this role I have also built custom development tools for remote device management using the Angular framework and Electron, as well as configuring Gitlab CI/CD pipelines with custom Docker images.</span>
    </li>
    <li class="c10 li-bullet-0"><span class="c8">Software Engineer, CGI, July 2020 - August 2021 </span><span
      class="c17 c6">&ndash; Industrial placement year, working on a Cybersecurity project as a Software Engineer using Python and managing Linux systems. Hands-on experience with networking hardware and software on a large-scale cybersecurity solution. Contributed to deploying releases and bug fixes. Additionally, I worked on a Machine-Learning side-project in which I developed a web-based front-end UI using Angular.</span>
    </li>
    <li class="c10 li-bullet-0"><span class="c8">University Dissertation Project, 2021 - 2022 </span><span class="c6">&ndash; Development of a robotic prosthetic hand and computer-vision-based control system. Novel ground-up design of 3D-printed mechanically self-contained robotic prosthetic hand. Designed a custom PCB expansion for the ESP32 microcontroller board, and wrote a control program in C++, using FreeRTOS. Developed a complementary computer-vision based hand tracking system combined Machine-learning with forward and inverse kinematics to generate control patterns for the developed prosthetic.</span>
    </li>
  </ul>
  <p class="c38"><span class="c5">Additional Awards and Achievements</span></p>
  <p class="c34"><span class="c17 c19">&nbsp;</span></p>
  <p class="c12 c29"><span class="c17 c40"></span></p>
  <p class="c12"><span class="c2">Institution of Engineering and Technology (IET) Award, University of Kent, 2022</span>
  </p>
  <p class="c12 c33"><span class="c17 c6">Awarded for distinction shown at the University of Kent in a course leading to the award of a degree in Computer Systems Engineering.</span>
  </p>
  <p class="c12 c33 c29"><span class="c17 c6"></span></p>
  <p class="c12"><span class="c2">The School of Engineering Industrial Placement Award, University of Kent, 2022</span>
  </p>
  <p class="c12 c33"><span class="c17 c6">Awarded for best performance in industrial placement year final report at University of Kent.</span>
  </p>
  <p class="c12 c29 c33"><span class="c17 c6"></span></p>
  <p class="c12"><span
    class="c2">Rapid Electronics Sponsored Best Project Demonstration Award, University of Kent, 2020</span></p>
  <p class="c12 c33"><span class="c6">Awarded joint first place for best project demonstration for in 2</span><span
    class="c6 c51">nd</span><span class="c6">&nbsp;year of bachelor&rsquo;s degree for group project module.</span>
  </p>
  <p class="c12 c29" id="h.hw7qulkxo971"><span class="c2"></span></p>
  <p class="c12" id="h.gjdgxs"><span class="c2">Rapid Electronics Sponsored Cross-Channel Robotics Competition, University of Kent, 2019</span>
  </p>
  <p class="c0"><span class="c17 c6">Awarded for demonstrating notable performance in an inter-university robotics project during first year of bachelor&rsquo;s degree, sponsored by Rapid Electronics.</span>
  </p>
  <p class="c12"><span class="c2">Rotary Youth Leadership Award, 2018</span></p>
  <p class="c0"><span class="c6">Awarded on completion of the RYLA program which builds leadership and teamwork skills through physical activities, a business simulation game, and a two-day on-foot &nbsp;expedition.</span>
  </p>
  <p class="c12"><span class="c2">Mercedes-AMG Sponsored Engineering Student of the Year, Bedford College, 2017</span></p>
  <p class="c0"><span class="c17 c6">Presented the Mercedes-AMG Sponsored for notable dedication to engineering during first year of course.</span>
  </p>
  <div><p class="c28"><span class="c3">Page </span><span class="c3">&nbsp;of </span></p>
    <p class="c13"><span class="c17 c8 c45"></span></p>
    <p class="c13"><span class="c3"></span></p></div>
  </div>

  <a class="download-btn" href="/assets/files/CV.pdf" download="Ben Martin Burke_CV_2025_1.pdf">
    <mat-icon class="download-ico">file_download_outlined</mat-icon>
  </a>

</div>
