<div class="cv-container" [class.mobile]="session.isMobile">
    <div class="title">CURRICULUM VITAE</div>

    <div class="c26 doc-content">
         <p class="c11"><span class="c18 c16">Education</span></p>
         <p class="c28"><span class="c1 c39">&nbsp;</span></p>
         <p class="c12"><span class="c16 c13">Bedford College, </span><span class="c0">2016 - 2018</span></p>
         <p class="c9"><span class="c0">Electrical and Electronic Engineering, Level 3</span></p>
         <p class="c9"><span class="c0">Distinction* Distinction* Distinction</span></p>
         <p class="c9"><span class="c1 c5">*: Star; higher achievement</span></p>
         <p class="c11 c17"><span class="c19 c16 c13"></span></p>
         <p class="c12"><span class="c13 c16">University of Kent, Canterbury, </span><span class="c1 c29">2018-2022</span></p>
         <p class="c9"><span class="c19 c1 c29">Bachelor of Engineering with Honours</span></p>
         <p class="c9"><span class="c19 c1 c29">Computer Systems Engineering with </span></p>
         <p class="c9"><span class="c1 c29">Year-in-Industry</span></p>
         <p class="c9"><span class="c1 c13">First Class Award</span></p>
         <p class="c12"><span class="c16 c22">&nbsp; </span><span class="c16"><br>University of Kent</span><span class="c16 c13">&nbsp;&ndash;</span><span class="c0">&nbsp;Systems-focused bachelor&rsquo;s degree incorporating computer science and electronic engineering &nbsp;modules. Key areas explored include fundamentals of electronics and circuit design, digital and analogue systems, mathematical systems modelling, and signal processing. A range of languages are covered, including MATLAB, C/C++, VHDL, Java, JavaScript, HTML, CSS, PHP, and SQL. Additionally, the course also explored the concepts of Object Oriented Programming, the fundamentals of AI and neural networks, and project management. Included a year-in-industry between the second and third stages.</span></p>
         <p class="c35"><span class="c16">Bedford College </span><span class="c16 c13">&ndash;</span><span class="c1 c13">&nbsp;Two-year A-Level-equivalent course covering &nbsp;core introductory areas of electrical and electronic engineering. Units covered core and further mathematics, electrical principles, circuit design and build with both theoretical and practical experience. The second year had a large focus on microcontrollers, microprocessors and programming in C++ and Assembly.<br></span><span class="c19 c1 c25">&nbsp; </span></p>
         <p class="c11"><span class="c18 c16">Skills</span></p>
         <p class="c28"><span class="c1 c14">&nbsp;</span></p>
         <p class="c9 c17"><span class="c19 c1 c36"></span></p>
         <p class="c9"><span class="c19 c16 c13">Programming Experience and Languages</span></p>
         <p class="c7"><span class="c0">Java, Object Oriented Programming</span></p>
         <p class="c7"><span class="c0">Python</span></p>
         <p class="c7"><span class="c0">JavaScript / TypeScript</span></p>
         <p class="c7"><span class="c0">C, C++</span></p>
         <p class="c7"><span class="c0">Linux, Bash</span></p>
         <p class="c7"><span class="c0">Powershell</span></p>
         <p class="c7"><span class="c0">Microcontrollers (C++ and Assembly) (register level and real-time)</span></p>
         <p class="c7"><span class="c0">FPGA Programming (VHDL)</span></p>
         <p class="c7"><span class="c0">Front End Web Development &ndash; HTML, CSS, JavaScript, Angular, Electron</span></p>
         <p class="c7"><span class="c0">Back End Web Development &ndash; REST, NodeJS, Express, Flask, SQL</span></p>
         <p class="c2"><span class="c19 c1 c22"></span></p>
         <p class="c9"><span class="c19 c16 c13">Computer Aided Design and Manufacturing</span></p>
         <p class="c7"><span class="c0">3D Modelling, Fusion 360<br>3D Printing, FDM and SLA</span></p>
         <p class="c11"><span class="c18 c16">Experience</span></p>
         <p class="c28"><span class="c14 c1">&nbsp;</span></p>
         <p class="c9"><span class="c1 c31">&nbsp;</span></p>
         <ul class="c15 lst-kix_list_1-0 start">
            <li class="c20 li-bullet-0"><span class="c16">Final Year Dissertation Project, 2021-2022 </span><span class="c0">&ndash; Development of a robotic prosthetic hand and complementary camera-based control system. Novel ground-up design of 3D-printed, mechanically self-contained robotic prosthetic hand. Custom-designed electronics control circuitry using ESP32 microcontroller, running custom-made program implementing FreeRTOS for multitasking. Complementary camera-based hand tracking system created, combining AI models with forward and inverse kinematics to generate control patterns for the developed prosthetic.</span></li>
            <li class="c20 li-bullet-0"><span class="c16">CGI &ndash; Year-in-Industry, 2020-2021 </span><span class="c0">&ndash; Between the second and third stages of bachelor&rsquo;s degree, a year spent in CGI&rsquo;s Space, Defence and Intelligence Business Unit working on a Cybersecurity project as a Software Engineer. Worked in a team following Agile development through SCRUM. Hands-on experience in software engineering with a large-scale cybersecurity solution at the hardware and software side, spending the year in the deployment team helping manage releases and address system bugs.</span></li>
            <li class="c20 li-bullet-0"><span class="c16">Rotary Youth Leadership Awards, 2018</span><span class="c1">&nbsp;</span><span class="c0">&ndash; Attended the 2018 RYLA program which builds leadership and team building skills through various physical and mental challenges such as outdoor activities, a business simulation game, and a two-day expedition. The program was intense and designed to push participants to their limits. Learned about time-management, team&ndash;management, understanding personal strengths and weaknesses, through exercises.</span></li>
            <li class="c20 li-bullet-0"><span class="c16">Cranfield Precision (Fives Landis), 2018</span><span class="c1">&nbsp;</span><span class="c1 c13">&ndash; Work experience at CNC Machine design and build firm. Shadowed highly experienced lead design engineer in electronics design and build. Learned about project management and electronics design engineering. &nbsp;Completed a PIC programming dice-roll project in Assembly Language.</span></li>
            <li class="c21 li-bullet-1"><span class="c16">Mercedes-AMG High Performance Powertrains, 2017</span><span class="c1">&nbsp;</span><span class="c0">&ndash; Five-day work experience at the Mercedes AMG Formula 1 Engineering Center, learning about their high-performance powertrain through hands-on experience in various teams and learning about engineering workflows, parts inspection, and the use of quality assurance machinery.</span></li>
         </ul>
         <p class="c11"><span class="c16 c18">Key Achievements</span></p>
         <p class="c28"><span class="c14 c1">&nbsp;</span></p>
         <p class="c9 c17"><span class="c19 c1 c36"></span></p>
         <p class="c9"><span class="c19 c16 c13">Institution of Engineering and Technology (IET) Award, University of Kent, 2022</span></p>
         <p class="c9 c30"><span class="c0">Awarded for distinction shown at the University of Kent in a course leading to the award of a degree in Computer Systems Engineering.</span></p>
         <p class="c2"><span class="c0"></span></p>
         <p class="c9"><span class="c16 c13 c19">The School of Engineering Industrial Placement Award, University of Kent, 2022</span></p>
         <p class="c9 c30"><span class="c0">Awarded for best performance in industrial placement year final report at University of Kent.</span></p>
         <p class="c2"><span class="c0"></span></p>
         <p class="c9"><span class="c19 c16 c13">Rapid Electronics Sponsored Best Project Demonstration Award, University of Kent, 2020</span></p>
         <p class="c9 c30"><span class="c1 c13">Awarded joint first place for best project demonstration for in 2</span><span class="c1 c13 c23">nd</span><span class="c1 c13">&nbsp;year of bachelor&rsquo;s degree for group project module.</span></p>
         <p class="c9 c17" id="h.hw7qulkxo971"><span class="c19 c16 c13"></span></p>
         <p class="c9" id="h.gjdgxs"><span class="c19 c16 c13">Rapid Electronics Sponsored Cross-Channel Robotics Competition, University of Kent, 2019</span></p>
         <p class="c3"><span class="c1 c13">Awarded for demonstrating notable performance in inter-university robotics project in first year of bachelor&rsquo;s degree, sponsored by Rapid Electronics.</span></p>
         <p class="c9"><span class="c19 c16 c13">Mercedes-AMG Sponsored Engineering Student of the Year, Bedford College, 2017</span></p>
         <p class="c3"><span class="c0">Presented the Mercedes-AMG Sponsored for notable dedication to engineering in first year of course.</span></p>
    
    </div>

    <a class="download-btn" href="/assets/files/Ben_Martin_Burke_-_CV_2023_2.pdf" download="Ben Martin Burke - CV 2023_1.pdf">
        <mat-icon class="download-ico">file_download_outlined</mat-icon>
    </a>

</div>