/* Desktop (default) */
.cv-container {
    width: calc(100% - 2*4rem);
    min-height: calc(100vh - (6rem + 5rem));
    padding: 3rem 4rem 4rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    animation: fade-in 250ms linear 150ms 1 forwards;
}


div.doc-content {
    padding: 3rem 0 !important;
    width: 40vw;
    max-width: 40vw;
}

a.download-btn {
    color: black;
}
mat-icon.download-ico {
    opacity: 0.6;
    transition: 0.2s;
    cursor: pointer;
}
mat-icon.download-ico:hover { opacity: 0.3; }
mat-icon.download-ico:active { opacity: 0.7; }


/* Mobile */
.mobile div.doc-content {
    padding: 3rem 0 !important;
    width: 85vw;
    max-width: 85vw;
}


@import url(https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLcf-5JS7Pt-XEl3ieo8uMtiuHKu1krmNwDNFjzw-1Fw6);

.lst-kix_list_1-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_1-4 > li:before {
  content: "\002666   "
}

ul.lst-kix_list_1-0 {
  list-style-type: none
}

.lst-kix_list_1-7 > li:before {
  content: "\0025cf   "
}

.lst-kix_list_1-5 > li:before {
  content: "\002b9a   "
}

.lst-kix_list_1-6 > li:before {
  content: "\0025aa   "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

ul.lst-kix_list_1-3 {
  list-style-type: none
}

.lst-kix_list_1-0 > li:before {
  content: "o  "
}

ul.lst-kix_list_1-4 {
  list-style-type: none
}

.lst-kix_list_1-8 > li:before {
  content: "\002666   "
}

ul.lst-kix_list_1-1 {
  list-style-type: none
}

ul.lst-kix_list_1-2 {
  list-style-type: none
}

ul.lst-kix_list_1-7 {
  list-style-type: none
}

.lst-kix_list_1-1 > li:before {
  content: "\002b9a   "
}

.lst-kix_list_1-2 > li:before {
  content: "\0025aa   "
}

ul.lst-kix_list_1-8 {
  list-style-type: none
}

ul.lst-kix_list_1-5 {
  list-style-type: none
}

ul.lst-kix_list_1-6 {
  list-style-type: none
}

ol {
  margin: 0;
  padding: 0
}

table td, table th {
  padding: 0
}

.c43 {
  border-right-style: solid;
  padding: 0.3pt 0.3pt 0.3pt 0.3pt;
  border-bottom-color: #ffffff;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 215.2pt;
  border-top-color: #ffffff;
  border-bottom-style: solid
}

.c11 {
  border-right-style: solid;
  padding: 2pt 2pt 2pt 2pt;
  border-bottom-color: #ffffff;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 215.2pt;
  border-top-color: #ffffff;
  border-bottom-style: solid
}

.c18 {
  border-right-style: solid;
  padding: 2pt 2pt 2pt 2pt;
  border-bottom-color: #ffffff;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 236.2pt;
  border-top-color: #ffffff;
  border-bottom-style: solid
}

.c39 {
  border-right-style: solid;
  padding: 0.3pt 0.3pt 0.3pt 0.3pt;
  border-bottom-color: #ffffff;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 236.2pt;
  border-top-color: #ffffff;
  border-bottom-style: solid
}

.c26 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 2pt;
  font-family: "Calibri";
  font-style: normal
}

.c2 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Calibri";
  font-style: normal
}

.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Calibri";
  font-style: normal
}

.c16 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Calibri";
  font-style: normal
}

.c5 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Calibri";
  font-style: normal
}

.c34 {
  padding-top: 0pt;
  border-bottom-color: #000000;
  border-bottom-width: 0.8pt;
  padding-bottom: 1pt;
  line-height: 1.0;
  border-bottom-style: solid;
  text-align: left
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8pt;
  font-family: "Verdana";
  font-style: normal
}

.c10 {
  margin-left: 18pt;
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.0;
  padding-left: 0pt;
  text-align: left
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  height: 12pt
}

.c9 {
  padding-top: 12pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: -7.2pt
}

.c0 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.0;
  text-align: left
}

.c7 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: -7.2pt
}

.c42 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  text-decoration-skip-ink: none
}

.c21 {
  color: #ffffff;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c52 {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto
}

.c38 {
  padding-top: 12pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c28 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right
}

.c44 {
  padding-top: 12pt;
  padding-bottom: 10pt;
  line-height: 1.0;
  text-align: left
}

.c17 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c27 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.0;
  text-align: left
}

.c31 {
  padding-top: 10pt;
  padding-bottom: 10pt;
  line-height: 1.0;
  text-align: left
}

.c24 {
  padding-top: 4pt;
  padding-bottom: 10pt;
  line-height: 1.0;
  text-align: left
}

.c20 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  text-align: left
}

.c30 {
  background-color: #ffffff;
  max-width: 451.3pt;
  padding: 72pt 72pt 72pt 72pt
}

.c46 {
  font-size: 9pt;
  font-weight: 400;
  font-family: "Calibri"
}

.c14 {
  font-size: 28pt;
  font-weight: 400;
  font-family: "Calibri"
}

.c6 {
  font-size: 11pt;
  font-weight: 400;
  font-family: "Calibri"
}

.c40 {
  font-weight: 400;
  font-size: 5pt;
  font-family: "Calibri"
}

.c48 {
  font-size: 7pt;
  font-weight: 400;
  font-family: "Verdana"
}

.c19 {
  font-weight: 400;
  font-size: 1pt;
  font-family: "Calibri"
}

.c47 {
  font-weight: 400;
  font-size: 8pt;
  font-family: "Calibri"
}

.c35 {
  font-size: 8pt;
  font-weight: 400;
  font-family: "Verdana"
}

.c36 {
  font-size: 10pt;
  font-weight: 400;
  font-family: "Calibri"
}

.c25 {
  font-weight: 700;
  font-size: 8pt;
  font-family: "Verdana"
}

.c37 {
  font-weight: 400;
  font-size: 3pt;
  font-family: "Calibri"
}

.c41 {
  font-weight: 400;
  font-family: "Quattrocento Sans"
}

.c8 {
  font-weight: 700;
  font-family: "Calibri"
}

.c22 {
  color: inherit;
  text-decoration: inherit
}

.c49 {
  padding: 0;
  margin: 0
}

.c33 {
  margin-left: 36pt
}

.c15 {
  height: 0pt
}

.c23 {
  font-size: 11pt
}

.c50 {
  font-size: 4pt
}

.c32 {
  font-size: 1pt
}

.c29 {
  height: 12pt
}

.c4 {
  height: 22.8pt
}

.c45 {
  font-size: 12pt
}

.c51 {
  vertical-align: super
}

.title {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 16pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.0;
  text-align: center
}

.subtitle {
  padding-top: 0pt;
  color: #000000;
  font-size: 12pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.0;
  text-align: center
}

li {
  color: #000000;
  font-size: 12pt;
  font-family: "Times New Roman"
}

p {
  margin: 0;
  color: #000000;
  font-size: 12pt;
  font-family: "Times New Roman"
}

h1 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 22pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.0;
  text-align: left
}

h2 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 16pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.0;
  text-align: left
}

h3 {
  padding-top: 1pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.0;
  text-align: left
}

h4 {
  padding-top: 6pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.0;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 13pt;
  padding-bottom: 3pt;
  font-family: "Times New Roman";
  line-height: 1.0;
  font-style: italic;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 3pt;
  font-family: "Times New Roman";
  line-height: 1.0;
  text-align: left
}
