<div class="footer-container" [class.mobile]="session.isMobile">
    <div class="left-text">
        <div class="footer-text"><span style="font-weight: 500;">Ben Martin Burke</span> | Portfolio Website | 2023</div>
        <div class="footer-text" style="opacity: 0.8; font-size: 0.75em;">Designed and Built by Ben Martin Burke | Built using Angular</div>
    </div>

    <div class="right-text" style="opacity: 0.8;">
        <a href="mailto:benmartinburke@gmail.com" target="_blank">
            <div class="footer-text">benmartinburke@gmail.com</div>
        </a>
        
        <div class="footer-text">
            <a href="https://www.linkedin.com/in/ben-burke-654591194/" target="_blank">
                LinkedIn
            </a>
            <span style="opacity: 0;"> _ </span>
            <a href="https://github.com/Burke111-DEV" target="_blank">
                GitHub
            </a>
        </div>
    </div>
</div>