<div class="about-container" [class.mobile]="session.isMobile">
    <div class="title">HI, I'M BEN</div>
    <div class="emoji-title">🎓🔧💡</div>
    
    <div class="sect">
        UK-based 25 year-old graduate from the University of Kent - I'm passionate about all things tech. I love learning new skills, languages, frameworks, and technologies. I have a particular interest in full-stack web development,  microcontrollers and electronics, and app development, though I do not limit myself to these. Beyond programming, I also enjoy 3D printing and designing 3D models, owning and using multiple FDM and SLA/DLP machines.
        <br>
        <br>Ultimately, I strive to equip myself with as many tools to build cool and exciting projects. I believe that technology has the power to transform lives and create positive change. As a recent graduate, I am excited to embark on my career journey and push myself much further.
        <br>
        <br><b>2022 - Now</b>
        <br>After graduating from the University of Kent, I have used my time to work independently on projects which I found interesting as a way to push myself to learn and develop my skills further, outside of the education system. Find more information about the various projects I have worked on at the home page of this site.
        <br>
        <br><b>2020 - 2021</b>
        <br>Between my second and third stages of study, I was fortunate enough to be accepted to attend a Year-In-Industry where I worked at international consultancy company, CGI, as a software engineer. With CGI, I was absorbed into a software development team, working using Agile and SCRUM. This role taught me valuable technologies which I still use, such as Linux systems and BASH, Powershell, and networking concepts.
        <br>
        <br><b>2018 - 2022</b>
        <br>After completing my course at Bedford College, I was accepted at the University of Kent to study Computer Systems Engineering.
        Here, I specialised further in the areas of computer science, programming, electronics, engineering mathematics and signal analysis.
        Through my time at university, I was exposed to many more new languages and concepts, including Java, OOP, HTML/CSS/JS, databases, SQL, PHP, and Python.
        <br>
        <br><b>2016 - 2018</b>
        <br>In 2016 I enrolled on a college course studying Mechanical, Aeronautical, Electrical, and Electronics Engineering at Bedford College. 
        This course taught the fundamental principles of a wide scope of engineering in its first year. The second year required us to specialise in either Mechanical, Aeronauticala, or Electrical and Electronics, which I chose the latter.
        It was here that I discovered my fascination for programming, learning to program PIC16F72 microcontrollers using Assembly language, and later Arduino board with C++.
        My time at Bedford College was an invaluable experience, ingraining a holistic understanding of the wider engineering industry.
        <br>
    </div>
</div>