<div class="contact-container" [class.mobile]="session.isMobile">
    <div class="title">CONTACT</div>

    <div class="contacts-grid">
        <a href="https://www.linkedin.com/in/ben-burke-654591194/" target="_blank" class="contacts-box">
            <div>
                <div class="text-row title-row">LinkedIn</div>
                <div class="text-row"> </div>
            </div>
        </a>

        <a href="mailto:benmartinburke@gmail.com" target="_blank" class="contacts-box">
            <div>
                <div class="text-row title-row">Email</div>
                <div class="text-row">benmartinburke@gmail.com</div>
            </div>
        </a>
    </div>
</div>