<div class="p-alpha-container" [class.mobile]="session.isMobile">
    <div class="title">ALPHA | VPET INTERFACING APPS</div>
    <div class="emoji-title">💻🔌👾</div>
    <div class="title-link"><a href="https://www.alphahub.site/" target="_blank">Alpha Hub Website</a></div>

    <div class="sect sect-a">
        Alpha is a project which builds technology to interface with Bandai's Virtual Pet toy range - specifically, the Digimon line originally released in 1997.
        As a spin-off of Bandai's original Tamagotchi line, the Digimon variant of Virtual Pet toys were released in an attempt to appeal to a young male audience.
        <br />However, in the two-decades since their initial release, this line of toys have gathered a worldwide cult-following.
    </div>

    <div class="sect images imgs-a">
        <div class="img-box box-a">
            <img src="assets/projects/vpet-apps/A.png" />
            <div class="img-caption">Bandai Digimon 20th Anniversary Virtual Pet Toy</div>
        </div>
    </div>

    <div class="sect sect-b">
        <br />The Alpha project has a series of apps which enable users to connect their Digimon VPet (Virtual Pet) devices to a computer or android phone via USB, and battle them on the internet.
        This is achieved via a custom microcontroller-based USB adapter to translate the signals bi-directionally between the app running on the computer/phone and the digimon vpet device.
    </div>

    <div class="sect  sect-c">
        <div class="sect-title">Alpha Serial</div>
    </div>

    <div class="sect images imgs-b">
        <div class="img-box box-a">
            <img src="assets/projects/vpet-apps/B.png" />
            <div class="img-caption">Alpha Serial App</div>
        </div>
    </div>

    <div class="sect sect-d">
        a  barebones app which allows a user to simply read the data from the VPet, and write data back to it. 
        It displays it in a serial console interface.
        It lacks the data processing required for online device connections, but is a useful utility for reading and writing data directly.
    </div>

    <div class="sect sect-e">
        <div class="sect-title">Alpha Terminal</div>
    </div>

    <div class="sect images imgs-c">
        <div class="img-box box-a">
            <img src="assets/projects/vpet-apps/C.png" />
            <div class="img-caption">Alpha Terminal App</div>
        </div>
    </div>

    <div class="sect sect-f">
        Alpha Terminal extends the capability of Alpha Terminal. It provides the user with a clean user interface, and handles all of the data processing under-the-hood, which is essential for letting users connect their devices over the internet. 
        <br />Additionally, it encrypts the data and includes tampering detection to prevent users from cheating by artificially improving their odds of successful battles over the internet.
    </div>

    <div class="sect  sect-g">
        <div class="sect-title">Alpha Link</div>
        A work-in-progess project, which further extends Alpha Terminal by combining the VPet interfacing technology with social networking features, to help users find each other and connect their devices online.
    </div>

    <div class="sect menu-grid">
        <a class="code-btn" href="https://www.alphahub.site/" target="_blank">
            <mat-icon>code</mat-icon>
            <div class="menu-txt">Check out the website!</div>
        </a>
    </div>
</div>