<div class="app-container" [class.mobile]="session.isMobile">
  <app-top-bar class="sticky-component"></app-top-bar>
  <div class="sidebar" *ngIf="!session.isMobile">
    <a href="https://github.com/Burke111-DEV" target="_blank">
      <img class="sidebar-ico" src="assets/svg/github.svg"/>
    </a>

    <a href="https://www.linkedin.com/in/ben-burke-654591194/" target="_blank">
      <img class="sidebar-ico" src="assets/svg/linkedin.svg"/>
    </a>

    <a href="mailto:b.m.burke.111@gmail.com.com" target="_blank">
      <img class="sidebar-ico" src="assets/svg/email.svg"/>
    </a>
  </div>
  <router-outlet></router-outlet>
  <app-footer class="sticky-component"></app-footer>
</div>
