<div class="p-lang-container" [class.mobile]="session.isMobile">
    <div class="title">LANGUAGE LEARNING APP</div>
    <div class="emoji-title">📚💬👩‍🎓</div>

    <div class="sect">
        A simple educational web app for English speakers to learn Italian. 
        Covering 850 core words in the English language, paired up with their Italian language counterparts, this app uses a flash-card-style and read-aloud to help users learn cover the basics.
    </div>

    <div class="sect images">
        <div class="img-box box-a">
            <img src="assets/projects/language-learning-app/LANG.png" />
            <div class="img-caption">Language learning app in action</div>
        </div>        
    </div>

    <div class="sect">
        <div class="sect-title">English BASIC 🤓</div>
        Inspired by <a href="http://ogden.basic-english.org/" class="link-text" target="_blank">Charles K. Ogden’s English BASIC</a>, this app includes the original 850 words selected in the original English BASIC set.
        <br >English BASIC is a simplified version of English designed to assist learners in building a foundational understanding of the language. 
        With a limited vocabulary of 850 words, it provides a concise and accessible tool for language acquisition.
    </div>

    <div class="sect">
        <div class="sect-title">Pomodoro Friendly 🍅</div>
        Within the web app, learning sessions are constrained within the 20 minute timer shown at the bottom of the view box in the GUI. 
        <br >This incorporates the principle of the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" class="link-text"  target="_blank">Pomodoro Learning Technique</a>: typically 20-25 minute focused learning sessions (known as "pomodoros"), followed by short breaks. 
        This technique helps improve focus, productivity, and time awareness by providing a structured approach to work and encouraging regular breaks, reducing burnout and promoting better work-life balance.
    </div>

    <div class="sect menu-grid">
        <a class="code-btn" href="https://github.com/Burke111-DEV/languages_webapp" target="_blank">
            <mat-icon>code</mat-icon>
            <div class="menu-txt">Check out the code</div>
        </a>

        <a class="code-btn" href="https://examples.benburke.co.uk/language_learning/index.html/" target="_blank">
            <mat-icon >videogame_asset</mat-icon>
            <div class="menu-txt">Try out the demo</div>
        </a>
    </div>
</div>