<div class="index-container" [class.mobile]="session.isMobile">
    <div class="title">COMPUTER SYSTEMS ENGINEERING GRADUATE</div>
    <div class="emoji-title">👨‍🎓🐺🦾🤖💻🐱‍💻🔥</div>

    <div class="sect about-sect">
        Recent university graduate with a passion for all things tech. With proficient foundational skills in programming across various languages and technologies, I am well-equipped to tackle diverse challenges. I am eager to explore new ideas and technologies, and contribute my expertise to innovative endeavors, making a meaningful impact along the way.
        <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. -->
        <div class="link-text" routerLink="/about"> Read More </div>
    </div>

    <div class="sect projects-sect">
        <app-projects-list></app-projects-list>
    </div>
</div>